---
Checks: >
   '-*,
   bugprone-*,
   cert-*,
   cppcoreguidelines-*,
   modernize-*,
   google-default-arguments,
   google-runtime-operator,
   hicpp-exception-baseclass,
   hicpp-multiway-paths-covered,
   misc-misplaced-const,
   misc-new-delete-overloads,
   misc-non-copyable-objects,
   misc-throw-by-value-catch-by-reference,
   misc-unconventional-assign-operator,
   misc-uniqueptr-reset-release,
   mpi-buffer-deref,
   mpi-type-mismatch,
   openmp-use-default-none,
   performance-*,
   portability-simd-intrinsics,
   readability-*
  
HeaderFileRegex: '.*'
AnalyzeTemporaryDtors: false